.form {
  .form-label {
    display: block;

    &:nth-child(1) {
      margin-bottom: 10px;
    }

    &:nth-child(2) {
      margin-bottom: 30px;
    }

    & > span {
      display: block;
      margin-bottom: 5px;
    }

    & > input {
      width: 260px;
      height: 40px;
      padding-left: 10px;
      padding-right: 10px;
      font-size: 16px;
      border: 1px solid #000;
      border-radius: 4px;
    }
  }

  & > button {
    display: block;
    padding: 10px 40px;
    cursor: pointer;
  }
}
